.dropdown {
  position: relative;
}
.dropdown.active .dropdown-menu-content {
  display: block;
  pointer-events: all;
}

.header-nav-item.active .dropdown-menu-content {
  display: block;
}

.header-nav-item.active .tooltipped::before, .header-nav-item.active .tooltipped::after {
  display: none;
}

.header-nav-item .dropdown-menu {
  margin-top: 15px;
  width: 180px;
}

.dropdown-menu {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
  left: 0;
  margin-top: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: absolute;
  top: 100%;
  width: 160px;
  z-index: 100;
}

.dropdown-menu-sw::before {

}

.dropdown-menu-sw::after {

}

.dropdown-menu::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent transparent rgba(27, 31, 35, 0.15);
  border-image: none;
  border-style: solid;
  border-width: 8px;
}

.dropdown-menu::after {
  
}

.dropdown-header {

}

.dropdown-divider {
  background-color: #e1e4e8;
  height: 1px;
  margin: 8px 1px;
}

.dropdown-item {
  color: #24292e;
  display: block;
  overflow: hidden;
  paddding: 4px 10px 4px 15px;
}

.logout-form {

}

.css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
