.tooltipped {
  position: relative;
}

.tooltipped::before {
  border: 5px solid transparent;
  color: rgba(0, 0, 0, 0.8);
  content: "";
  display: none;
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1000001;
}

.tooltipped-s::before, .tooltipped-se::before, .tooltipped-sw::before {
  border-bottom-color: rgba(0, 0, 0, 0.8);
  bottom: -5px;
  margin-right: -5px;
  right: 50%;
  top: auto;
}

.tooltipped::after {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  content: attr(aria-label);
  display: none;
  font: 11px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  padding: 5px 8px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  word-wrap: break-word;
  z-index: 1000000;
}
