$tooltipped-display: block;
.tooltipped {
  position: relative;
}

.tooltipped::before {
  border: 5px solid transparent;
  color: rgba(0, 0, 0, 0.8);
  content: "";
  display: $tooltipped-display;
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1000001;
}

.tooltipped-s::before, .tooltipped-se::before, .tooltipped-sw::before {
  border-bottom-color: rgba(0, 0, 0, 0.8);
  bottom: -5px;
  margin-right: -5px;
  right: 50%;
  top: auto;
}

.tooltipped::after {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  content: attr(aria-label);
  display: $tooltipped-display;
  font: 11px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  padding: 5px 8px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  width: fit-content;
  z-index: 1000000;
}

.tooltipped-s::after, .tooltipped-se::after, .tooltipped-sw::after {
  margin-top: 5px;
  right: 50%;
  top: 100%;
}

.tooltipped-s::after {
  transform: translateX(50%);
}

.tooltipped-se::after {
  left: 50%;
  margin-left: -15px;
  right: auto;
}

.tooltipped-sw::after {
  margin-right: -15px;
}

.header-nav-item.active .tooltipped::before, .header-nav-item.active .tooltipped::after {
  display: none;
}
