@mixin horiz-vert-center($back-color: white) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $back-color;
}

#header {
  @include horiz-vert-center(#454545);
  height: 50px;
  width: 100%;
  color: white;
}

#container {
  display: flex;
  height: 150px;
  width: 100%;
  #body-left {
    @include horiz-vert-center(#8DB6CD);
    order: -1;
    flex: 1;
  }

  #body-center {
    @include horiz-vert-center(#EDEDED);
    flex:3;
  }

  #body-right {
    @include horiz-vert-center(#EE7600);
    flex:1;
  }
}

#footer {
  @include horiz-vert-center(#454545);
  width: 100%;
  color: white;
}
