* {
    box-sizing: border-box;
}

@media (max-width: 768px) {
  #container {
    flex-direction: column;
    flex: 1;
  }
}

@mixin column(
  $line-color: #6ac5ac,
  $font-color: #414142,
  $index: 1) {
  border: 3px solid $line-color;
  .label, .end-label {
    background-color: $line-color;
    color: $font-color;
    z-index: $index;
  }
}

body {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0 1em;
  color: #414142;
  font-family: Arial;
  font-size: 1em;
  line-height: 1.5em;

  #container {
    display: flex;
    position: relative;
    @include column;

    nav {
      position: relative;
      order: -1;
      flex: 1;
      @include column(#d64078, white, 10);

      a:link {
        color: #d64078;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }

    .flex-column {
      display: flex;
      position: relative;
      flex-direction: column;
      flex: 4;
      @include column(#d64078, white, -1);
      section {
        position: relative;
        flex-basis: 100%;
        @include column(#fdc72f, #414142, 10);
      }

      .ipsum {
        background-color: #eee;
        color: #734161;
      }
    }

    .label {
      left: 0;
      top: 0;
    }

    .end-label {
      right: 0;
      bottom: 0;
    }

    .label, .end-label {
      position: absolute;
    }
  }
}
