<div class="session-authentication">
  <div>need to be toggle(error msg)</div>
  <div id="login" class="auth-form px-3">
    <form onsubmit="handle">
      <div class="auth-form-header">
        <h1>Sign in to Github</h1>
      </div>
      <div class="auth-form-body mt3">
        <label for="login_field">Username or email address</label>
        <input type="text" class="form-control input-block">
        <label for="password" class="label-password">
          Password
          <a href="/password_reset" class="label-link">Forgot password?</a>
        </label>
        <input class="form-control input-block" type="text">
        <input class="btn btn-primary btn-block" type="submit" value="Sign in">
      </div>
    </form>
  </div>
</div>
