.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.gutter-condensed {
  margin-left: -8px;
  margin-right: -8px;
}

.three-fouths {
  width: 75%;
}

.repo-list {
  position: relative;
}
