.container {
  align-self: flex-start;
  border: 1px solid #e1e4e8;
  border-radius: 2px;
  flex: 1;
}

.language-list {
  padding: 10px;
}

.item {
  text-align: justify;
}

.item:hover {
  background-color: #e1e4e8;
  cursor:pointer;
  text-decoration:none;
}

.item-active {
  
}
