.repo-list-item {
  border-top: 1px solid #e1e4e8;
  border-bottom: 0 none;
  display: flex;
  justify-content: flex-start;
  list-style: outside none none;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.repo-list-item-first {
  composes: repo-list-item;
  border-top: 0 none;
}

.main-column {
  padding-right: 16px;
  width: 66.6667%;
}

.description {
  color: #586069;
  display: inline-block;
  margin-bottom: 8px;
  padding-right: 24px;
  width: 75%;
}

.middle-column {
  color: #586069;
  padding-top: 8px;
  width: 16.667%;
}

.repo-language-color {
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 1px;
  width: 12px;
}

.right-column {
  text-align: right;
  padding-top: 8px;
  padding-right: 16px;
}

.muted-link {
  color: #586069;
}
