.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.gutter-condensed {
  margin-left: -8px;
  margin-right: -8px;
}

.main-content {
  flex: 3;
  padding-right: 40px;
}

.result-header {
  border-bottom: 1px solid #e1e4e8;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: -1px;
}

.result-list {
  position: relative;
}

.result-sort-btn {
  border-radius: 1px;
  border-color: grey;
}

.result-sort-list {
  display: block;
}
