.dropdown {
  position: relative;

  // compose form .header-nav-item
  float: left;
}

.header-nav-link {
  composes: header-nav-link from '../headerLink/HeaderLink.scss';
}

.dropdown-active .dropdown-menu-content {
  display: block;
  pointer-events: all;
}

.header-nav-item.active .dropdown-menu-content {
  display: block;
}

.logout-form {

}
