.dropdown {
  position: relative;

  // compose form .header-nav-item
  float: left;
}

.header-nav-link {
  color: rgba(255, 255, 255, 0.75);
  display: block;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 8px;
  cursor:pointer;
}

.dropdown.active .dropdown-menu-content {
  display: block;
  pointer-events: all;
}

.header-nav-item.active .dropdown-menu-content {
  display: block;
}

.logout-form {

}
