.header-nav-item {
  float: left;
}

.header-nav-link {
  color: rgba(255, 255, 255, 0.75);
  display: block;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 8px;
  cursor:pointer;
}

.header-nav-link:hover, .header-nav-link:focus {
  color: #fff;
  text-decoration: none;
}
