:global {
  .form-control {
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(27, 31, 35, 0.075) inset;
    color: #24292e;
    font-size: 14px;
    line-height: 20px;
    min-height: 34px;
    outline: medium none;
    padding: 6px 8px;
    vertical-align: middle;
  }
  .form-control.focus, .form-control:focus, .form-select.focus, .form-select:focus {
      border-color: #2188ff;
      box-shadow: 0 1px 2px rgba(27, 31, 35, 0.075) inset, 0 0 0 0.2em rgba(3, 102, 214, 0.3);
      outline: medium none;
  }
}
