* {
  box-sizing: border-box;
}

.page-content {
  padding-top: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.settings-container {
  composes: page-content container;
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
}

.pr-4 {
  padding-right: 24px;
}

.menu {
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  list-style: outside none none;
  margin-bottom: 15px;
}

.menu-heading {
  composes: menu;
  background-color: #f3f5f8;
  border-bottom: 1px solid #e1e4e8;
  color: #586069;
  display: block;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 10px;
}

.meunu-heading:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

a {
  background-color: transparent;
  color: #0366d6;
  text-decoration: none;
}

.menu-item {
  border-bottom: 1px solid #e1e4e8;
  display: block;
  padding: 8px 10px;
}

.menu-item-selected::before {
  background-color: #e36209;


}

.menu-item-selected {
  composes: menu-item;
  background-color: #fff;
  color: #24292e;
  cursor: default;
}
