.dropdown-item {
  color: #24292e;
  display: block;
  overflow: hidden;
  padding: 4px 10px 4px 15px;
}

.dropdown-item:hover {
  background-color: #0366d6;
  color: #fff;
  cursor:pointer;
  text-decoration:none;
}
