.container {

}

.item {
  display: flex;
  align-items: center;
  border: 2px solid #e1e4e8;
  margin-top: -2px;
}

.image {

}

.content {
  flex: 1;
}

.follow {
  border-radius: 
  background-color: #eff3f6;
  font-weight: 600;
}

.follow:hover {
  background-color: #e6ebf1;
}
