.session-authentication {
  background-color: #f9f9f9;
}

.auth-form-px3 {
  margin: 0 auto;
  width: 340px;
  padding-left: 16px;
  padding-right: 16px;
}

.auth-form-header {
  background-color: transparent;
  border: 0 none;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: none;
}

.auth-form-body {
   border-top: 1px solid #d8dee2;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  padding: 20px;
}

.label-password {
  display: flex;
  justify-content:space-between;
}

.label-link {

}

/* need global work
h1 {
  composes: auth-form-header;
  font-size: 24px;
  font-weight: 300;
}

label {
  display: block;
  margin-bottom: 7px;
  font-weight: 600;
}
*/


.input-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.btn {
  background-color: #28a745;
  border-radius: 0.25em;
  border: 1px solid rgba(27, 31, 35, 0.2);
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
  margin-top: 20px;
  text-align: center;
}

.btn-block {
  display: block;
  text-align: center;
  width: 100%;
}
