.auth-form-header {
  background-color: transparent;
  border: 0 none;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: none;
}

.auth-form-body {
  border-radius: 5px;
  border: 1px solid #d8dee2;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  padding: 20px;
}

.label-default {
  display: block;
  margin-bottom: 7px;
  font-weight: 600;
}

.label-password {
  composes: label-default;
  display: flex;
  justify-content:space-between;
}

.label-link {
  border: 1px solid transparent;
}

.login-title {
  font-size: 24px;
  font-weight: 300;
}

.input-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.btn {
  display: block;
  text-align: center;
  width: 100%;

  background-color: #28a745;
  border-radius: 0.25em;
  border: 1px solid rgba(27, 31, 35, 0.2);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  margin-top: 20px;
}

.error-msg {
  background-color: pink;
}
