.container {
  margin: 0 auto;
  padding-top: 20px;
  width: 980px;
}

.container::before {
  content: "";
  display: table;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.repositories-zone {

}

.repositories-list-container {

}

.new-repository-btn {

}

.repository-list-filter {

}

.repositories-list-title {

}
