.container {
  margin: 0 auto;
  padding-top: 20px;
  width: 980px;
}

.container::before {
  content: "";
  display: table;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.new-repository-btn {
  
}

.repositories-title {

}
