.header-nav {
  flex: 1 0 0;
  list-style: outside none none;
  margin-right: -8px;
}

.dropdown {
  float: left;
}

.header-nav-link {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
  line-height: 20px;
  padding: 5px 8px;
  cursor:pointer;
}

.header-nav-link:hover, .header-nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.dropdown-active .dropdown-menu-content {
  display: block;
  pointer-events: all;
}

.header-nav-item.active .dropdown-menu-content {
  display: block;
}

.dropdown-item {

}

.logout-form {

}
