.header-search {
  font-size: 13px;
  margin-right: 10px;
  width: 300px;
  .header-search-wrapper {
    display: table;
    font-weight: normal;
    max-width: 100%;
    min-height: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.125);
    border: 0 none;
    box-shadow: none;
    color: #fff;
    font-size: inherit;
    min-height: 30px;
  }

  .header-search-wrapper.focus {
    background-color: rgba(255, 255, 255, 0.176);
    box-shadow: none;
    border-right-color: #282e34;
    color: #fff;
  }

  .header-search-input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    display: table-cell;
    min-height: 26px;
    padding-bottom: 0;
    padding-top: 0;
    width: 99.999%;

    color: inherit;
    font-size: inherit;
  }
}
